<div class="container">
   <input type="text" class="pp input small" placeholder="small default">
   <input type="text" class="pp input success" placeholder="default success">
   <input type="text" class="pp input warning medium" placeholder="medium warning">
   <input type="text" class="pp input danger large" placeholder="large danger">
   <input type="text" class="pp input primary" placeholder="default primary">
   <input type="text" class="pp input info" placeholder="default info">
   <input type="text" class="pp input" placeholder="disabled" disabled>
</div>