<div class="container">
   <input type="text" class="ppwui input small" placeholder="small default">
   <input type="text" class="ppwui input success" placeholder="default success">
   <input type="text" class="ppwui input warning medium" placeholder="medium warning">
   <input type="text" class="ppwui input danger large" placeholder="large danger">
   <input type="text" class="ppwui input primary" placeholder="default primary">
   <input type="text" class="ppwui input info" placeholder="default info">
   <input type="text" class="ppwui input" placeholder="disabled" disabled>
</div>