<div class="container">
   <div class="container-row">
      <button class="ppwui button">Normal</button>
      <button class="ppwui button primary">Normal</button>
      <button class="ppwui button success">Normal</button>
      <button class="ppwui button danger">Normal</button>
      <button class="ppwui button warning">Normal</button>
      <button class="ppwui button info">Normal</button>
   </div>

   <div class="container-row">
      <button class="ppwui button small">Small</button>
      <button class="ppwui button primary small">Small</button>
      <button class="ppwui button success small">Small</button>
      <button class="ppwui button danger small">Small</button>
      <button class="ppwui button warning small">Small</button>
      <button class="ppwui button info small">Small</button>
   </div>

   <div class="container-row">
      <button class="ppwui button medium">Medium</button>
      <button class="ppwui button primary medium">Medium</button>
      <button class="ppwui button success medium">Medium</button>
      <button class="ppwui button danger medium">Medium</button>
      <button class="ppwui button warning medium">Medium</button>
      <button class="ppwui button info medium">Medium</button>
   </div>

   <div class="container-row">
      <button class="ppwui button large">Large</button>
      <button class="ppwui button primary large">Large</button>
      <button class="ppwui button success large">Large</button>
      <button class="ppwui button danger large">Large</button>
      <button class="ppwui button warning large">Large</button>
      <button class="ppwui button info large">Large</button>
   </div>

   <div class="container-row">
      <button class="ppwui button loading">Loading</button>
      <button class="ppwui button primary loading">Loading</button>
      <button class="ppwui button success loading">Loading</button>
      <button class="ppwui button danger loading">Loading</button>
      <button class="ppwui button warning loading">Loading</button>
      <button class="ppwui button info loading">Loading</button>
   </div>

   <div class="container-row">
      <button class="ppwui button" disabled>Disabled</button>
      <button class="ppwui button primary" disabled>Disabled</button>
      <button class="ppwui button success" disabled>Disabled</button>
      <button class="ppwui button danger" disabled>Disabled</button>
      <button class="ppwui button warning" disabled>Disabled</button>
      <button class="ppwui button info" disabled>Disabled</button>
   </div>

   <div class="container-row">
      <button class="ppwui button link">Link</button>
      <button class="ppwui button link primary">Link</button>
      <button class="ppwui button link success">Link</button>
      <button class="ppwui button link danger">Link</button>
      <button class="ppwui button link warning">Link</button>
      <button class="ppwui button link info">Link</button>
      <button class="ppwui button link primary" disabled>Link</button>
   </div>
</div>