.pp {
  &.button {
    background-color: var(--white);
    color: #363636;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
    height: 2.4em;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    position: relative;
    user-select: none;
    border-radius: 2px;
    outline: none;
  }

  &:hover:enabled {
    border-color: #b5b5b5;
    background-color: var(--white-dark);
  }

  &:active:enabled {
    border-color: #4a4a4a;
    background-color: var(--white-darker);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.success {
    background-color: var(--green);
    color: var(--white);
    border-color: transparent;

    &:hover:enabled {
      background-color: var(--green-dark);
      border-color: transparent;
    }

    &:active:enabled {
      background-color: var(--green-darker);
      border-color: transparent;
    }
  }

  &.warning {
    background-color: var(--yellow);
    color: #363636;
    border-color: transparent;

    &:hover:enabled {
      background-color: var(--yellow-dark);
      border-color: transparent;
    }

    &:active:enabled {
      background-color: var(--yellow-darker);
      border-color: transparent;
    }
  }

  &.danger {
    background-color: var(--red);
    color: var(--white);
    border-color: transparent;

    &:hover:enabled {
      background-color: var(--red-dark);
      border-color: transparent;
    }

    &:active:enabled {
      background-color: var(--red-darker);
      border-color: transparent;
    }
  }

  &.info {
    background-color: var(--blue);
    color: var(--white);
    border-color: transparent;

    &:hover:enabled {
      background-color: var(--blue-dark);
      border-color: transparent;
    }

    &:active:enabled {
      background-color: var(--blue-darker);
      border-color: transparent;
    }
  }

  &.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: transparent;

    &:hover:enabled {
      background-color: var(--primary-dark);
      border-color: transparent;
    }

    &:active:enabled {
      background-color: var(--primary-darker);
      border-color: transparent;
    }
  }

  &.small {
    font-size: 0.75em;
  }

  &.medium {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.loading {
    pointer-events: none;
    color: transparent !important;
    opacity: 0.8;

    &::after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 9999px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute !important;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
    }

    &.primary,
    &.success,
    &.info,
    &.danger {
      &::after {
        border-color: transparent transparent var(--white) var(--white) !important;
      }
    }

    &.warning {
      &::after {
        border-color: transparent transparent rgba(0, 0, 0, 0.7)
          rgba(0, 0, 0, 0.7) !important;
      }
    }
  }

  &.link {
    border-color: transparent !important;
    background-color: var(--white);

    &:hover:enabled {
      background-color: var(--grey-lightest);
    }

    &:active:enabled {
      background-color: var(--grey-lighter);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.primary {
      color: var(--primary);
    }
    &.success {
      color: var(--green);
    }
    &.info {
      color: var(--blue);
    }
    &.danger {
      color: var(--red);
    }
    &.warning {
      color: var(--yellow);
    }
  }
}
