<div class="container">
   <div class="container-row">
      <button class="pp button">Normal</button>
      <button class="pp button primary">Normal</button>
      <button class="pp button success">Normal</button>
      <button class="pp button danger">Normal</button>
      <button class="pp button warning">Normal</button>
      <button class="pp button info">Normal</button>
   </div>

   <div class="container-row">
      <button class="pp button small">Small</button>
      <button class="pp button primary small">Small</button>
      <button class="pp button success small">Small</button>
      <button class="pp button danger small">Small</button>
      <button class="pp button warning small">Small</button>
      <button class="pp button info small">Small</button>
   </div>

   <div class="container-row">
      <button class="pp button medium">Medium</button>
      <button class="pp button primary medium">Medium</button>
      <button class="pp button success medium">Medium</button>
      <button class="pp button danger medium">Medium</button>
      <button class="pp button warning medium">Medium</button>
      <button class="pp button info medium">Medium</button>
   </div>

   <div class="container-row">
      <button class="pp button large">Large</button>
      <button class="pp button primary large">Large</button>
      <button class="pp button success large">Large</button>
      <button class="pp button danger large">Large</button>
      <button class="pp button warning large">Large</button>
      <button class="pp button info large">Large</button>
   </div>

   <div class="container-row">
      <button class="pp button loading">Loading</button>
      <button class="pp button primary loading">Loading</button>
      <button class="pp button success loading">Loading</button>
      <button class="pp button danger loading">Loading</button>
      <button class="pp button warning loading">Loading</button>
      <button class="pp button info loading">Loading</button>
   </div>

   <div class="container-row">
      <button class="pp button" disabled>Disabled</button>
      <button class="pp button primary" disabled>Disabled</button>
      <button class="pp button success" disabled>Disabled</button>
      <button class="pp button danger" disabled>Disabled</button>
      <button class="pp button warning" disabled>Disabled</button>
      <button class="pp button info" disabled>Disabled</button>
   </div>

   <div class="container-row">
      <button class="pp button link">Link</button>
      <button class="pp button link primary">Link</button>
      <button class="pp button link success">Link</button>
      <button class="pp button link danger">Link</button>
      <button class="pp button link warning">Link</button>
      <button class="pp button link info">Link</button>
      <button class="pp button link primary" disabled>Link</button>
   </div>
</div>