<div class="container">
   <div class="container-row">
      <div class="ppwui card">
         <p class="block">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus cum. Aliquam dignissimos ipsam et
            cupiditate ipsa recusandae soluta corrupti nostrum autem debitis odit quibusdam reprehenderit, dolor illo
            sit
            quidem.
         </p>
         <p class="block">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus cum. Aliquam dignissimos ipsam et
            cupiditate ipsa recusandae soluta corrupti nostrum autem debitis odit quibusdam reprehenderit, dolor illo
            sit
            quidem.
         </p>
      </div>
   </div>
</div>